body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* device is the div containing the calculator */
#device{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 100px;
}

#display{
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#fourByFour{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}

#bottomRow{
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 100px;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    border: 2px solid black;
}

/* different colors for different button classes */
.number{
    background-color: grey;
}
.operator{
    background-color: darkorange;
}
.other{
    background-color: lightgray;
}